.chat-list-group{
    list-style: none;

}

.chat-list-group-item{
    background-color: aliceblue;
    border-radius: 25px;
    margin-bottom: 5px;
    min-height: 3em;
    width: 12em;
    padding: 1em;

}

.chat-list-group-item-other{
    background-color: lavenderblush;
    border-radius: 25px;
    margin-bottom: 5px;
    text-align: right;
    min-height: 3em;
    margin-left: 15em;
    margin-right: 1em;
    width: 12em;
    padding: 1em;

}

.timestamp{
    display: block;
    margin-top: 5px;
    font-size: 10px;
   
}

.timestamp-other{
    display: block;
    margin-top: 5px;
    font-size: 10px;
    text-align: right;
}


@media screen and (min-width:760px) {
    
    .chat-list-group-item-other{
        margin-right: 1em;
        width: 12em;
        margin-left: 39em;
        text-align: left;
        
    }
}

#chats {
     overflow-y: auto;
    max-height: 30em;
    min-height: 30em;
    border: 1px solid lightgray;
    max-width: 60em;
}


#chats > li:first-child{
    margin-top:1em;
 }

#participantList {
    overflow-y: auto;
    height: 36em;
} 

#participantList > li {
    cursor :pointer;
}

.status-nav {
    display: block !important;
    margin-left: -1em;
}

.header-nav{
    background-color: lightgrey !important;
}