<html>
<head>

    <link rel="stylesheet" href="./css/ichat.css">

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="./js/ichat.js"></script>
    <script src="node_modules/socket.io/client-dist/socket.io.js"></script>
    <link rel="icon" href="/node_modules/bootstrap-icons/icons/chat-text.svg"/>
    <title>iChat</title>
</head>

<body>
  
    <div class="container-fluid">
        <nav class="navbar navbar-light header-nav">
            <span class="navbar-brand mb-0 h1">iChat - Offline Local area messaging app
              <img src='/node_modules/bootstrap-icons/icons/chat-text.svg' />

            </span>
          </nav>
        <div class="row">
            <div class="col-sm-4">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">Online Friends</span>
                  </nav>
                  <ul id="participantList" class="list-group">
                    
                  </ul>
            </div>

          
        
            <div id="chatbox" class="col-sm invisible">
                <nav class="navbar navbar-light bg-light status-nav">
                    <span id="activeChat" class="navbar-brand mb-0 h1">Nehil</span>
                    <br>
                    <span id="activechatStatus">Online</span>
                  </nav>
                <ul id="chats"class="chat-list-group">
                  </ul>
                  <div class="row">
                    <div class="col-sm-8">
                  <div class="input-group">
                   
                    <textarea id="message" class="form-control" aria-label="chat area"></textarea>
                  </div>
                  </div>
                  <div class="col-sm-2">
                    <button id="send" type="button" class="btn btn-primary">Send</button>
                    </div>
                 
                  </div>
            </div>
        
              <input type="hidden" id="hostname" value='<%= hostname %>'/>
              <input type="hidden" id="central" value='<%= central %>'>
      </div>

</body>


</html>